
body 
{
    align-items: center;
    background-color: #6CACE4;
}   
.a{
    background-color:#6CACE4;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    padding-left: 100px;

}

div>a{
    padding-left: 12px;

}
.b{
    padding-left: 550px;
    color: #6CACE4;
    position: relative;
    width: 500px;
    background:transparent;
    text-align: center;
    border-radius: 100% 50% 0% 0% / 55% 0% 50% 0%;
}
.b ::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 400;
    right: 0;
    width: 800px;
    height: 2550px;
    background-color:white;
    background-position:center ;
    background-size: cover;
    z-index: -11;
}
.b h1{
    font-size: 40px;
    font-style: bold;
}
.b img{
    width: 500px;
    height: 400px;
}
.txt{
    text-decoration: none;
    color:white;
}
a.txt:hover{
    color: #ffffff;
}
